/* Navbar */
.nav-body {
    background-color: #115B84;
}

.navbar ul li a {
    color: #fff;
}

/* Main Content */
main {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 40px auto;
}

.past-issue {
    width: 65%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.issue-cover img {
    width: 100%;
    height: auto;
    background-color: #ccc;
    display: block;
    margin-bottom: 20px;
}

.issue-details h2, .issue-details h3 {
    margin-bottom: 10px;
}

.issue-details hr {
    border: 0;
    height: 1px;
    background: #0a0a0a;
    margin-bottom: 20px;
}

.article-list p {
    margin: 5px 0;
}

/* Call for Papers Section */
aside.call-for-papers {
    width: 30%;
    background-color: #eef4f7;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside h2 {
    color: #006495;
    margin-bottom: 20px;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li strong {
    color: #333;
}

/* Footer */
.footer {
    background-color: #2C2B2B;
}

.footer_view {
    background-color: #2C2B2B;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
