.nav-body{
    background-color: #115B84;
}

.navbar ul li a{
    color: #fff;

}

.issues a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    
}

.issues a p{

    font-weight: 400;
    
}

.issues > div{
    padding-bottom: 20px;
    
}

.footer{
    background-color: #2C2B2B;
    
}

.footer_view {
    background-color: #2C2B2B;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.box{
    background-color: #EEE8E8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.title {
    background-color: #115B84;
    color: #fff;
    padding: 10px 10px 0 10px;
}
